In [52]:
!pip install -q -r requirements.txt

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### Import Dependencies

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('data/raw/dataset.csv')
pd.set_option('display.max_columns', None)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

### Data Quality Check

#### Null Values

In [56]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Observation: No null values

#### Data Types

In [57]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

#### Checking for Inconsistencies

In [58]:
for col in df.select_dtypes(include=['object']).columns:
    print(f'{col}: {df[col].nunique()} unique values')

customerID: 7043 unique values
gender: 2 unique values
Partner: 2 unique values
Dependents: 2 unique values
PhoneService: 2 unique values
MultipleLines: 3 unique values
InternetService: 3 unique values
OnlineSecurity: 3 unique values
OnlineBackup: 3 unique values
DeviceProtection: 3 unique values
TechSupport: 3 unique values
StreamingTV: 3 unique values
StreamingMovies: 3 unique values
Contract: 3 unique values
PaperlessBilling: 2 unique values
PaymentMethod: 4 unique values
TotalCharges: 6531 unique values
Churn: 2 unique values

In [59]:
pd.set_option('display.max_rows', None)
for col in df.select_dtypes(include=['object']).columns:
    if col not in ['customerID', 'TotalCharges']:
        print(f'{col}: {df[col].nunique()} unique values')
        for value in df[col].unique():
            print(f'  - {value}')

gender: 2 unique values
  - Female
  - Male
Partner: 2 unique values
  - Yes
  - No
Dependents: 2 unique values
  - No
  - Yes
PhoneService: 2 unique values
  - No
  - Yes
MultipleLines: 3 unique values
  - No phone service
  - No
  - Yes
InternetService: 3 unique values
  - DSL
  - Fiber optic
  - No
OnlineSecurity: 3 unique values
  - No
  - Yes
  - No internet service
OnlineBackup: 3 unique values
  - Yes
  - No
  - No internet service
DeviceProtection: 3 unique values
  - No
  - Yes
  - No internet service
TechSupport: 3 unique values
  - No
  - Yes
  - No internet service
StreamingTV: 3 unique values
  - No
  - Yes
  - No internet service
StreamingMovies: 3 unique values
  - No
  - Yes
  - No internet service
Contract: 3 unique values
  - Month-to-month
  - One year
  - Two year
PaperlessBilling: 2 unique values
  - Yes
  - No
PaymentMethod: 4 unique values
  - Electronic check
  - Mailed check
  - Bank transfer (automatic)
  - Credit card (automatic)
Churn: 2 unique values
  - No
  - Yes

In [60]:
if (df[(df['PhoneService'] == 'No') & (df['MultipleLines'] != 'No phone service')]).empty:
    print("MultipleLines: No inconsistencies found")


internet_cols = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                 'TechSupport', 'StreamingTV', 'StreamingMovies']

for col in internet_cols:
    inconsistent = df[(df['InternetService'] == 'No') & (df[col] != 'No internet service')]
    if not inconsistent.empty:
        print(f"Inconsistency found in column: {col}")
    else:
        print(f"{col}: No inconsistencies found")

MultipleLines: No inconsistencies found
OnlineSecurity: No inconsistencies found
OnlineBackup: No inconsistencies found
DeviceProtection: No inconsistencies found
TechSupport: No inconsistencies found
StreamingTV: No inconsistencies found
StreamingMovies: No inconsistencies found

Observations: No inconsistencies

### Target Variable Analysis

In [61]:
churn_rate = df['Churn'].value_counts(normalize=True) * 100
print(churn_rate)

Churn
No     73.463013
Yes    26.536987
Name: proportion, dtype: float64

Observation: There's a class imbalance

### Data Cleaning

In [62]:
# Convert TotalCharges column to float
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'].fillna(df['TotalCharges'].mean(), inplace=True)

# Convert SeniorCitizen column to boolean
df['SeniorCitizen'] = df['SeniorCitizen'].astype(bool)

df.drop(columns=['customerID'], inplace=True)

C:\Users\WW\AppData\Local\Temp\ipykernel_10352\760475065.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'].fillna(df['TotalCharges'].mean(), inplace=True)

### Feature Overview

In [63]:
demographic_cols = ['gender', 'SeniorCitizen', 'Partner', 'Dependents']
behavioral_cols = ['tenure', 'PhoneService', 'MultipleLines', 'InternetService',
                   'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
                   'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']
financial_cols = ['MonthlyCharges', 'TotalCharges']
target_col = 'Churn'

In [65]:
df.to_csv('data/processed/1.1_initial_data_assessment_done.csv', index=False)